/* .bot{
  position: absolute;
  bottom: 0;
  right: 0;
} */
.bott{
  position: absolute;
  right: 2rem;
  bottom: 0;
  border-radius: 50%;
}
.react-chatbot-kit-chat-container {

  position: absolute !important;
  right: 1rem !important;
  bottom: 1rem !important;
}
.img{
  width: 20%;
}
li{
  list-style: none;
  display: flex;
  align-items: center;
}
ul{
  text-align: left;
}