/* .bot{
  position: absolute;
  bottom: 0;
  right: 0;
} */
body{  overflow-y: hidden;
  background-color: rgb(0, 13, 13);}
.bott{
  position: absolute;
  right: 2rem;
  bottom: 0;
  
  border-radius: 50%;
}
.hero{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
font-family: sans-serif;
font-size: 3rem;



}
.hero h1{
  background:linear-gradient(#6E48AA, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.react-chatbot-kit-chat-container {

  position: absolute !important;
  right: 1rem !important;
  bottom: 1rem !important;
}
.img{
  width: 20%;
}
li{
  list-style: none;
  display: flex;
  align-items: center;
}
ul{
  text-align: left;
}